@{
    Layout = "~/Views/Shared/_LayoutAdminSimple.cshtml";
}

@section Body {
    <div id="baskoul-vue-app"></div>
}

@section Style {
    <link rel="stylesheet" href="~/baskoul-vue/assets/index.css" asp-append-version="true" />
}

@section Scripts {
    <script type="module" src="~/baskoul-vue/assets/index.js" asp-append-version="true"></script>
}
