@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی رمز عبور?";
    Layout = "~/Areas/Shared/_LoginLayout.cshtml";

}

<div class="d-flex">
    <div class="w-100">
        <h3 style="font-family:Tahoma" class="mb-4">
            فرم زیر را تکمیل کنید
        </h3>
    </div>
</div>
<h1>@ViewData["Title"]</h1>
<h2>ایمیل خود را وارد کنید.</h2>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating">
        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
        <label asp-for="Input.Email" class="form-label"></label>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">بازیابی رمز عبور</button>
</form>
