@page
@model LoginModel

@{
    ViewData["Title"] = "صفحه ورود";
    Layout = "~/Areas/Shared/_LoginLayout.cshtml";
}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<!-- input form -->
			<form id="account" method="post" class="login100-form validate-form">

				<span class="login100-form-title">ورود به ناحیه کاربری</span>
				@if (TempData["LoginError"] != null)
				{
					<div class="alert alert-danger text-center fw-bold">
						@TempData["LoginError"]
					</div>
				}
				<!-- enter username-->
				<div class="wrap-input100 validate-input" data-validate=" نام کاربری خود را وارد کنید!">
					<input asp-for="Input.Email" class="input100" autocomplete="username" aria-required="true" placeholder="نام کاربری">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</span>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<!-- / enter username -->
				<!-- enter password-->
				<div class="wrap-input100 validate-input" data-validate=" رمز عبور را وارد کنید!">
					<input asp-for="Input.Password" class="input100" autocomplete="current-password" aria-required="true" placeholder="رمز عبور">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
					</span>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<!-- / enter password-->
				<!-- login button-->
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">ورود</button>
				</div>
				<!-- / login button -->
				<!-- restore password -->

				<!-- / restore password-->
				<!-- register-->
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="text-center p-t-80">
					<div class="checkbox">
						@* <label asp-for="Input.RememberMe">
							@Html.DisplayNameFor(m => m.Input.RememberMe)

							<input asp-for="Input.RememberMe" checked />
						</label> *@
					</div>
				</div>
				<!-- / register-->

			</form>
			<!-- / input form -->
			<!-- form image -->
			<div class="login100-pic js-tilt" data-tilt>
				<img src="@Url.Content("~/APL/dist/img/logo2.png")" alt="IMG">
				<p class="subtitle">
					پورتال نرم افزار سازمانی مراکز خدماتی
				</p>
			</div>
			<!-- / form image -->

		</div>
	</div>
</div>



